# macOS
.DS_Store

# Xcode user files
xcuserdata/
*.xcuserdata
*.xcuserstate
*.xcworkspace/xcuserdata/

# Xcode build folders
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# Firebase
GoogleService-Info.plist
